<body>
    <h1>Administrator side</h1>


    <form asp-action="GoToOrders" method="get">
        <button type="submit">Ordrer</button>
    </form>

    <button type="submit">Kunder</button>

    <form asp-action="GoToSurfboards" method="get">
        <button type="submit">Surfboards</button>
    </form>
</body>